*{
    margin: 0px;
    padding: 0px;
    background-color: #151515;
}
/* head section */
header{
    display: flex;
    margin-top: 50px;
}
/* logo */
.logo{
    margin-left: 150px;
    height: 50px;
}
/* menu */
.list{
    display: flex;
    margin-top: 15px;
    margin-left: 400px;
    color:#ffffff;
}
.list_item{
    display: flex;
    margin-left: 50px;

}
/* language and contact button */
.language{
    color: #ffff;
    border: 0px;
    background: transparent;
    margin-left: 400px;
    margin-top: 15px;
}
.arrow{
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}
.down {
    margin-left: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.contact{
    display: flex;
    color: #ffff;
    border: 0px;
    background: transparent;
    margin-top: 15px;
}
.contact img{
    margin-left: 70px;
}
.contact p{
    margin-top: 1px;
    margin-left: -30px;
    background: transparent;
}
/* main page */
/* right content */
/* heading */
.head1{
    color: #ffff;
    
}
/* description */
.get_start{

}
.btn-pink-bg{

}
/* users */
.users{

}
/* left content */
.back{

}
.front{

}
/* band */
.band_logo{

}
.list_logo{

}
/* service section */
